*{
    margin: 0;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
}

.gird1{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}

.gird2{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}
.gird3{
    background-color: #E2E6EB;
    height: 700px;
    border-radius: 20px;
 
}

.gird4{
    background-color: #E2E6EB;
   
    height: 300px;
    border-radius: 20px;

}
.gird5{
    background-color: #E2E6EB;
   
    height: 350px;
    border-radius: 20px;

}
.gird6{
    background-color: #E2E6EB;
   
    height: 350px;
    border-radius: 20px;
}

.gird7{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}
.gird8{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}

.gird9{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}
.gird10{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}
.gird11{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}
.gird12{
    background-color: #E2E6EB;
    height: 350px;
    border-radius: 20px;
}
.gird13{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}

.gird14{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}
.gird15{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}
.gird16{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}
.gird17{
    background-color: #E2E6EB;
    height: 753px;
    border-radius: 20px;
}
.gird18{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.gird19{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
}
.gird20{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.gird21{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
}
.gird22{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
        margin-top: -120%;
}
.gird23{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.gird24{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
        margin-top: -120%;
}
.gird25{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.gird26{
    background-color: #E2E6EB;
    height: 160px;
    border-radius: 20px;
}
.gird27{
    background-color: #E2E6EB;
    height: 160px;
    border-radius: 20px;
     
}
.gird28{
    background-color: #E2E6EB;
    height: 160px;
    border-radius: 20px;
}
.gird29{
    background-color: #E2E6EB;
    height: 140px;
    border-radius: 20px;
}
.gird30{
    background-color: #E2E6EB;
    height: 750px;
    border-radius: 20px;
}